*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'),
       url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-Regular.woff2') format('woff2'),
       url('../fonts/Gilroy-Regular.woff') format('woff'),
       url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), 
       url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-Medium.woff2') format('woff2'),
       url('../fonts/Gilroy-Medium.woff') format('woff'),
       url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), 
       url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('../fonts/Gilroy-Semibold.woff') format('woff'),
       url('../fonts/Gilroy-Semibold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'),
       url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-Bold.woff2') format('woff2'),
       url('../fonts/Gilroy-Bold.woff') format('woff'),
       url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Angelus Medieval'; /*serif*/
  src: url('../fonts/angelus_medieval.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/angelus_medieval.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/angelus_medieval.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/angelus_medieval.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/angelus_medieval.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/angelus_medieval.svg#angelus_medieval') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
/*  min-height: 100vh;*/
  height: 100%;
  font-family: 'Gilroy', sans-serif;
  color: #161616;
}

body.lock {
/*  overflow: hidden;*/
}

.wrapper {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;
}

.container {
  padding: 0 28px 0;
}

.header__info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  margin: 0 0 70px;
}

.logo {
  z-index: 60;
}

.logo__link {
  display: inline-block;
  height: 23px;
  width: 130px;
}

.logo__img {
  max-width: 100%;
}

.menu__list {
  position: absolute;
  min-height: 200px;
  top: 50px;
  right: -100%;
  background-color: #d4c3ad;
  padding: 15px 20px 15px;
  border: 2px solid #d3a265;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  transition: all .8s ease;
  overflow: auto;
  z-index: 30;
}

.menu__list.active {
  right: 0;
}

.menu__items {
  margin: 0 0 30px;
}

.menu__item {
  margin: 0 0 15px;
}

.menu__item-link {
  font-weight: 500;
  font-size: 20px;
  color: #352C2C;
}

.menu__item-link:active {
  font-weight: 700;
  text-shadow: 0.5px 0.3px 2px rgba(0, 0, 0, 0.4);
}

.contact__tel {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: #352C2C;
  margin: 0 0 10px;
}

.lang {
/*  width: 100%;*/
  text-align: center;
}

.lang__items {
  font-weight: 500;
  font-size: 18px;
  color: #352C2C;
  padding: 0 23px 0 0;

  -webkit-appearance: none;
  -moz-apperarance: none;

  background-color: transparent;
  background: url('../svg/arrow.svg') center right no-repeat;
  z-index: 2;
}

.icon {
  display: block;
  width: 34.8px;
  height: 24px;
  position: relative;
  z-index: 70;
}

.icon.active {
  background: url('../svg/cross.svg') center/80% no-repeat;
}

.icon__top, .icon__bottom {
  position: absolute;
  width: 18.6px;
  height: 2.4px;
  background-color: #212121;
  transition: all 0.8s;
}

.icon__top {
  top: 0;
  right: 0;
}

.icon__bottom {
  bottom: 0;
  left: 0;
}

.icon.active .icon__top, .icon.active .icon__bottom, 
.icon.active .icon__middle {
  display: none;
}

.icon__middle {
  position: absolute;
  width: 100%;
  height: 2.4px;
  left: 0;
  top: 45%;
  background-color: #212121;
  transition: all 0.3s ease;
}

.intro {
  overflow: hidden;
}

.intro__body {
  padding: 120px 28px 0;
}

.start__body {
  display: flex;
  flex-direction: column;
}
.start__title {
  font-family: 'Angelus Medieval', serif;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.01em;
  margin: 0 0 35px;
  color: #3D3737;
}
.start__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 35px;
}
.start__btn {
  margin: 0 0 30px;
}
.button {
  font-weight: 900;
  font-size: 16px;
  color: #161616;;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent;

  border: 2.5px solid #D3A265;
  border-radius: 8px;
  padding: 8px 0;

  transition: all 0.3s ease-out;
}

.button:active {
  box-shadow: inset 50em 0 0 rgba(220, 178, 126, 0.6);
  color: #fff;
}

.intro__image-sm {
  width: 100%;
  object-fit: cover;
}
.intro__image-b {
   display: none;
}

.about {
  background: #F4F4F4;
}

.about__row {
  padding: 55px 0 35px;
  margin: 0 0 50px;
}

.about__header {
  margin: 0 0 26px;
}

.title {
  font-family: 'Angelus Medieval', serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.005em;
}

.title_color {
  display: block;
  color: #d3a265;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 28px;
}

.about__text_hidden {
  display: none;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #161616;
  text-transform: uppercase;
  padding: 0 0 2px;
  border-bottom: 1px solid #D3A265;
}

.services__container {
  padding: 0 32px;
}

.services__header {
  text-align: center;
  margin: 0 0 30px;
}
.services__row {
  margin: 0 0 30px;
}
.services__column {
  padding: 50px 35px;
  position: relative;
}

.services__column::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #DCD1BB;
}

.services__column_first {
  padding: 0 35px 50px;
}
.services__column_last {
  padding: 50px 35px 5px;
}

.services__column_last::after {
  display: none;
}

.service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-block__image {
  max-width: 80px;
  margin: 0 0 35px;
}
.service-block__link {
  max-width: 100%;
}

.service-block__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0 0 35px;
  text-align: center;
}

.service-block__text {
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  color: #8D8D8D;
}

.services__btn {
  display: none;
}

.portfolio {
  background-color: #F4F4F4;
}
.container {
}
.portfolio__header {
  padding: 40px 0 0;
  margin: 0 0 60px;
  text-align: center;
}

.portfolio__header_color {
  display: inline;
}

.portfolio__block {
  display: flex;
  flex-direction: column;
  padding: 0 0 45px;
  margin: 0 0 55px;
}
.portfolio__menu {
  order: 1;
  margin: 0 0 40px;
}
.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 17px;
}
.portfolio__item {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  color: #161616;
  text-transform: uppercase;
}

.portfolio__item:active {
  color: #D3A265;
}

.portfolio__button-link {
  display: none;
}

.portfolio__btn {
  text-align: center;
  order: 3;
}
.portfolio__btn-link {
}
.portfolio__photos {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin: 0 0 45px;
}
.portfolio__photo {
  position: relative;
}
.portfolio__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.portfolio__image {
  min-width: 100%;
  max-width: 100%;
}
.portfolio__photo_add {
  display: none;
}


.prices__header {
  text-align: center;
  margin: 0 0 50px;
}

.prices__title_color {
  display: inline;
}

.prices__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px 0;
  margin: 0 0 35px;
}
.prices__column {
  position: relative;
  
}
.package {
  padding: 25px 0 0;
  background-color: #FDFBF8;
  border: 1px solid #D3A265;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  transition: all 0.4s ease;
}
.package__type {
  font-family: 'Angelus Medieval', serif;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 25px;
}
.package__price {
  padding: 0 25px 25px;
  margin: 0 0 22px;
  position: relative;
}

.package__price::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #DCD1BB;
}

.price {
  font-family: 'Angelus Medieval', serif;
  font-size: 28px;
  line-height: 1;
}

.price__value {
  display: block;
  margin: 0 10px 0 0;
}

.price__time {
  font-size: 16px;
  color: #BBBBBB;
}

.package__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 0 30px;
}
.package__service {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.package__btn {
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}

.package__btn-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #D3A265;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 0;
} 

.package__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.package:active {
  background-color: #D3A265;
  color: #fff;
}

.package:active .package__btn-link {
  border-top: 1px solid #fff;
}

.package:active .price__time {
  color: #fff;
}

.reviews {
  background-color: #F4F4F4;
}

.reviews__header {
  padding: 55px 0 0;
  margin: 0 0 53px;
  text-align: center;
}

.reviews__header_color {
  display: inline;
}

.slider {
  padding: 0 0px 90px;
  position: relative;
}

.slider__review {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 23px 30px;
}

.slider__review::after {
  content: "";
  position: absolute;
  top: 107px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DCD1BB;
  z-index: 1;
}

.block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.block__img {
  width: 125px;
  height: 125px;
  position: relative;
  z-index: 3;
}

.block__img-link {
  max-width: 100%;
}

.block__person {
  margin: 0 0 17px;
}

.block__person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.block__person-surname {
  display: block;
  margin: 0 0 6px;
}

.block__person-info {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #948B8B;
}

.slider__text {
  font-size: 16px;
  line-height: 1.7;
}

.slider .swiper-pagination {
  bottom: 35px;
}

.slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #D3A265;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
 margin:0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.questions__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px 0;
  padding: 42px 0 0;
  margin: 0 0 45px;
}

.questions__header {
  text-align: center;
}

.questions__btn {
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}
.questions__btn-link {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.footer {
  background-color:  #F4F4F4;;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 55px 0 0;
}
.footer__column {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 0 65px;
}

.studio__text {
  display: none;
}
.navigation {
  display: none;
}

.header_sm {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 0 4px;
}

.socials__link {
  padding: 4px 4px 4px 0;

  transition: all 0.3s ease;
}

.socials__image {
  max-width: 100%;
}
.contacts {
  flex-grow: 1;
  min-width: 100%;
  max-width: 100%;
}

.contacts__header {
  margin: 0 0 35px;
}

.contacts__types {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.contacts__type-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #878787;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.contacts__value {
  line-height: 1.5;
}
.studio__rights {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  color: #161616;
  margin: 0 0 30px;
  transition: all 0.3s ease;
}

.studio__rights:active, .studio__rights:hover {
  color: #D3A265;
}













